html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
article div { height: 80px; background: #fff200; font-weight: 900; font-size: 24px; text-align: center; color: #454545; line-height: 80px; }
article { width: 98%; margin: 0 1%; overflow: hidden;  *zoom: 1; }
#row1 div { float: left; margin-right: -100%; width: 100%; }
#row1 div:nth-child(1n+1) { margin-left: 0%; margin-bottom: 2%; clear: both; overflow: hidden;  *zoom: 1; }

@media screen and (min-width: 720px) {
article { width: 98%; margin: 0 1%; overflow: hidden;  *zoom: 1; }
#row1 div { float: left; margin-right: -100%; width: 15%; }
#row1 div:nth-child(6n+1) { margin-left: 0%; margin-bottom: 2%; clear: both; overflow: hidden;  *zoom: 1; }
#row1 div:nth-child(6n+2) { margin-left: 17%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(6n+3) { margin-left: 34%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(6n+4) { margin-left: 51%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(6n+5) { margin-left: 68%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(6n+6) { margin-left: 85%; margin-bottom: 2%; clear: none; }
}

@media all and (min-width: 960px) {
article { width: 98%; margin: 0 1%; overflow: hidden;  *zoom: 1; }
#row1 div { float: left; margin-right: -100%; width: 6.5%; }
#row1 div:nth-child(12n+1) { margin-left: 0%; margin-bottom: 2%; clear: both; overflow: hidden;  *zoom: 1; }
#row1 div:nth-child(12n+2) { margin-left: 8.5%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+3) { margin-left: 17%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+4) { margin-left: 25.5%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+5) { margin-left: 34%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+6) { margin-left: 42.5%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+7) { margin-left: 51%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+8) { margin-left: 59.5%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+9) { margin-left: 68%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+10) { margin-left: 76.5%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+11) { margin-left: 85%; margin-bottom: 2%; clear: none; }
#row1 div:nth-child(12n+12) { margin-left: 93.5%; margin-bottom: 2%; clear: none; }
}
